#navber{
    flex-direction: column;
}
#navber ul li a {
    font-size: 17px;
    margin: 6px 4px;
    padding: 6px;
}
/* --------------------------- */
#home{
    height: 177px;
    margin:3px 15px;
}
#home::before{
    height: 307px;
}
#home p{
    font-size: 13px;
    text-align: center;
}
/* ----------------------------- */
#service-container{
    margin-top: 15px;
}
#service{
    flex-direction: column;
    margin: 0px 15px;
}
#service .box{
    height: 100%;
}
#service .box p {
    padding: 2px 5px;
}

/* ------------------------------ */
#sponser-conainer{
    margin: 0px;
    margin-top: 25px;
}
#sponser{
    height: 115px;
}
#sponser .item img {
    width: 60px;
    height: 50px;
    padding: 0px 10px;
}
#sponser #item-1 img{
    width: 100px;
    height: 50px;
}

/* ----------------------------- */
#contact-box label{
    font-size: 20px;
}
#contact-box form {
    width: 69%;
}
/* ------------------------------ */
.primary-h{
    font-size:25px;
}
.secondary-h{
    font-size: 20px;
}







/* #sponser-conainer{
    overflow: hidden;
} */
